body {
    font-family: "Hiragino Mincho ProN", serif;
}

* {
    margin: 0;
    padding: 0;
}

.inner {
    width: 390px;
    margin: 0 auto;
    background-color: #FFFDF8;
}

.main {
    background-image: url(./img/main_back.png);
    background-size: 390px;
    height: 848px;
}

.hamburger {
    width: 28px;
    height: 20px;
    position: fixed;
    top: 20px;
    right: calc(50% - 195px + 20px);
    cursor: pointer;
    z-index: 1001;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #D0D0D0;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 9px;
}

.hamburger span:nth-child(3) {
    top: 18px;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
}

.hamburger_menu {
    position: fixed;
    top: 0;
    right: -390px;
    width: 390px;
    height: 100vh;
    background: #F6F2EA;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    transition: 0.4s;
    z-index: 1000;
}

.hamburger_menu a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.hamburger_menu.active {
    right: calc(50% - 195px);
}


.main_rogo {
    width: 172px;
    margin-top: 34px;
    margin-left: 29px;
}

.main_text1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 31px;
    color: #FFF;
    line-height: 180%;
    letter-spacing: 10px;
    margin-top: 21px;
    margin-left: 247px;
}

.main_text2 {
    margin-top: 26px;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 130px;
}


.product_title1 {
    color: #C1AF82;
    font-size: 14px;
    margin-left: 15px;
}

.product_title2 {
    font-size: 26px;
    margin-left: 15px;
}

.product_pic {
    width: 390px;
    padding-top: 6px;
}

.product_txt {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 190%;
    margin-left: 15px;
    margin-top: -77px;
}

.product_txt2 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 190%;
    margin-left: 15px;
    margin-top: -59px;
}

.product_txt3 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 190%;
    margin-left: 15px;
    margin-top: -64px;
}


.product_point1,
.product_point2 {
    margin-bottom: 120px;
}

.product_point1 {
    position: relative;
}

.product_shoes1 {
    width: 150px;
    margin-top: 6px;
    margin-left: 225px;
}

.product_shoes2 {
    width: 150px;
    margin-left: 225px;
}

.product_shoes3 {
    width: 133px;
    margin-top: 5px;
    margin-left: 222px;
}


.type1 {
    width: 162px;
}

.type2 {
    width: 144px;
}

.type3 {
    width: 142px;
}

.type4 {
    width: 130px;
}

.type5 {
    width: 174px;
}

.type_btn {
    display: grid;
    grid-template-columns: repeat(2, 175px);
    gap: 10px;
    justify-content: center;
}

.type_btn a {
    width: 175px;
    height: 225px;
    background-color: #F6F2EA;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.type_btn a:active {
    background-color: #EFE7D8;
}

.type_btn a p {
    text-align: center;
    font-size: 20px;
    line-height: 85%;
}

.type_a {
    font-size: 25px;
}


.news_date {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-left: 19px;
    margin-bottom: 10px;
}

.news_text {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    margin-left: 18px;
    text-decoration: none;
    color: inherit;
    display: block;
    width: 360px;
    border-bottom: 0.7px solid #C5C5C5;
    padding-bottom: 25px;
}

.news_box1,
.news_box2 {
    margin-bottom: 30px;
}

.news_a1 {
    margin-left: 33px;
}

.news_a2 {
    margin-left: 49px;
}

.news_a3 {
    margin-left: 162px;
}

.news_btn {
    position: relative;
    display: block;
    width: 170px;
    margin: 52px auto 0;
    padding: 12px 16px;
    background-color: #F6F2EA;
    text-decoration: none;
    color: #000;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    text-align: center;
}


.access {
    padding-bottom: 140px;
}

.access_box1 {
    background-color: #F6F2EA;
}

.access_title {
    font-size: 21px;
    margin-left: 15px;
    padding-top: 30px;
}

.access_address {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 15px;
    margin-left: 21px;
    margin-top: 35px;
}

.access_map {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #5E5E5E;
    margin-left: 21px;
    margin-top: 7px;
    text-decoration: none;
}

.access_a {
    display: inline-block;
    transform: rotate(-28deg);
    font-size: 13px;
    margin-left: 3px;
}

.access_tel {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #5E5E5E;
    margin-left: 21px;
    margin-top: 30px;
}

.access_traffic1 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #5E5E5E;
    margin-top: 20px;
    padding: 0 0 20px 30px;
    background-color: #F6F2EA;
    position: relative;
}

.access_traffic1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 0.7px;
    background-color: #C5C5C5;
}

.access_tra1 {
    margin-left: 188px;
}

.access_box2 {
    margin-top: 35px;
    background-color: #F6F2EA;
}

.access_traffic2 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #5E5E5E;
    margin-top: 20px;
    padding-left: 33px;
    border-bottom: #C5C5C5 0.7px solid;

}

.access_traffic3 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #5E5E5E;
    margin-top: 20px;
    padding: 0 0 20px 30px;
    background-color: #F6F2EA;
    position: relative;
}

.access_traffic3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 0.7px;
    background-color: #C5C5C5;
}

.access_tra2 {
    padding-left: 74px;
}

.access_tra3 {
    padding-left: 181px;
}


.footer {
    background-color: #E2D8C6;
}

.footer_rogo {
    width: 191px;
    padding-top: 187px;
    padding-left: 184px;
}

.footer_menu {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 17px;
}

.footer_product,
.footer_type,
.footer_news,
.footer_access {
    text-decoration: none;
    color: inherit;
}

.footer_box {
    display: flex;
}

.footer_sns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 180px;
    margin-top: 30px;
}

.footer_icon {
    width: 32px;
}

.footer_button {
    text-align: center;
}

.footer_btn1 {
    width: 362px;
    margin-top: 40px;
}

.footer_btn2 {
    width: 359px;
    margin-top: 30px;
}

.footer_copy {
    font-size: 11px;
    text-align: center;
    margin-top: 95px;
    padding-bottom: 15px;
}